@model BrandSlider
<h1>
	@Model.Id id-li brand slideri silmək üçün əminsinizsə butona klikləyin!
	<form method="post" asp-action="delete">
		<button type="submit" class="btn btn-danger">Delete</button>
	</form>
</h1>